@model List<InternalPortal.ViewModels.Application>
@using InternalPortal.Extensions

@{
    string heading = ViewData["Heading"].ToString();
}

<h2 class="govuk-heading-m">
    @heading
</h2>
<table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="descending">Application</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Organisation</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var application in Model)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <a href="/application-details/@application.Id">
                        @application.Reference
                    </a>
                </td>
                <td class="govuk-table__cell">
                    @(string.IsNullOrEmpty(application.Name) ? "Unnamed" : application.Name)
                </td>
                <td class="govuk-table__cell">
                    @application.LastModified
                </td>
                <td class="govuk-table__cell">
                    <strong class="govuk-tag @application.Status.GetDisplayTag()">@application.Status</strong>
                </td>
            </tr>
        }
    </tbody>
</table>
